* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82px;
  padding: 29px 0;
}
header nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
header nav a {
  text-decoration: none;
  font-weight: #3f3b3d;
  font-size: 14px;
  line-height: 133%;
  color: #3f3b3d;
}
header .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
header .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 69px;
  height: 42px;
  background-color: #f8f9fa;
}
header p {
  color: #ffffff;
  padding: 1px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  background-color: #3f3b3d;
  border-radius: 100px;
}

footer {
  height: auto;
  width: 100%;
  padding: 96px 0 31px 0;
  background-color: #3f3b3d;
}
footer .container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
}
footer h2 {
  font-weight: 400;
  font-size: 29px;
  line-height: 110%;
  color: #ffffff;
  text-transform: uppercase;
}
footer h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #ffffff;
  margin-bottom: 75px;
  padding-right: 100px;
}
footer .imgLine {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 31px;
  margin: 32px 0 64px 0;
}
footer .imgLine .two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 31px;
}

.links {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 145px;
  width: 100%;
  border-bottom: 1px solid #000000;
  padding: 0 0 32px 0;
}
.links .sub {
  border-bottom: 2px solid #ffffff;
}
.links a {
  font-weight: 400;
  font-size: 16px;
  line-height: 133%;
  color: #ffffff;
  text-decoration: none;
}
.links .link {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 145px;
}
.links .column {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  margin: 32px 0 0 0;
  width: 100%;
}
.copyright p {
  font-weight: 400;
  font-size: 14px;
  line-height: 133%;
  color: #ffffff;
  display: flex;
  gap: 20px;
}
.copyright p span {
  color: #f14814;
}

.primary-btn {
  border-radius: 3px;
  width: 114px;
  height: 42px;
  background: #dddbda;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 133%;
  border: none;
  transition: all 0.3s ease-in-out;
}

.secondary-btn {
  border-radius: 3px;
  width: 102px;
  height: 32px;
  background: #f14814;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 133%;
  border: none;
  transition: all 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

.first {
  background-color: #3f3b3d;
  height: 482px;
  padding: 64px;
  margin: 80px 0 20px;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: end;
  flex-wrap: wrap;
  gap: 0;
}
.first h1 {
  font-weight: 400;
  font-size: 34px;
  line-height: 129%;
  color: #ffffff;
}
.first .btn-line {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 32px;
}
.first button {
  width: 178px;
  height: 45px;
}

.carousel-container {
  width: 768px;
  height: 562px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
  width: 768px;
  height: 562px;
  object-fit: cover;
  cursor: pointer;
}

.indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 7px;
}

.indicator {
  width: 7px;
  height: 7px;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.indicator.active {
  background-color: #ffffff;
}

.second {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  margin: 60px 0 130px 0;
}
.second pre {
  font-weight: 400;
  font-size: 12px;
  line-height: 138%;
  color: #f14814;
  margin-bottom: 16px;
}
.second h2 {
  font-weight: 400;
  font-size: 27px;
  line-height: 138%;
  color: #3f3b3d;
  letter-spacing: 0.02em;
  padding: 0 50px;
  text-align: center;
}
.second .line {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 58px;
  margin-top: 60px;
}
.second .column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 13px;
}
.second b {
  font-weight: 400;
  font-size: 21px;
  line-height: 119%;
  color: #3f3b3d;
}
.second p {
  font-weight: 400;
  font-size: 12px;
  line-height: 138%;
  color: #3f3b3d;
}

.third {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
.third .cards-line {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.third .cards-line .card {
  width: 421px;
  height: 421px;
  background-image: url(../../assets/images/card-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 12px;
}
.third .cards-line .card:nth-child(1) {
  background-image: url(../../assets/images/egg.png);
}
.third .cards-line .card:nth-child(3) {
  background-image: url(../../assets/images/ananans.png);
}
.third .big-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.third .big-cards .big-card {
  width: 636px;
  height: 477px;
  background-image: url(../../assets/images/cardBG-1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
}
.third .big-cards .big-card p {
  font-weight: 400;
  font-size: 14px;
  line-height: 133%;
  color: #ffffff !important;
  margin-top: -20px;
}
.third .big-cards .big-card h2 {
  font-weight: 400;
  font-size: 39px;
  line-height: 113%;
  color: #ffffff !important;
  letter-spacing: 0.01em;
}
.third .big-cards .big-card2 {
  background-image: url(../../assets/images/bg-2.png);
}

.third .text {
  position: absolute;
  bottom: 0;
  width: 95%;
  padding: 12px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.third .text p {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #3f3b3d;
}
.third .text .price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  margin-bottom: 20px;
}

.fourth {
  background-color: #f8f9fa;
  padding: 128px 0 64px 0;
}
.fourth .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
}
.fourth .line1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 85%;
  margin-bottom: 64px;
}
.fourth .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  background-color: #dceae9;
  height: 100%;
  width: 50%;
  height: 536px;
}
.fourth .line2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 74px;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

h2 {
  font-weight: 400;
  font-size: 29px;
  line-height: 121%;
  color: #3f3b3d;
  text-transform: uppercase;
  color: #3f3b3d;
  margin-bottom: 32px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 133%;
  color: #3f3b3d;
  text-align: center;
}

h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #3f3b3d;
  text-align: center;
}

.fivth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  margin: 60px 0 130px 0;
}
.fivth .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px;
}
.fivth .left {
  background-image: url(../../assets/images/blueJeck.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 654px;
  padding: 16px;
  width: 508px;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
  gap: 0;
}
.fivth .left .content {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  padding: 31px 0;
}
.fivth a {
  font-weight: 700;
  font-size: 16px;
  line-height: 133%;
  color: #3f3b3d;
  text-decoration: none;
}

small {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-transform: uppercase;
  text-align: center;
  color: #5d6e67;
}

.right {
  height: 654px;
  width: 508px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  justify-content: space-between;
}
.right h2 {
  font-weight: 400;
  font-size: 52px;
  line-height: 108%;
  color: #3f3b3d;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.right .column {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}
.right .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}
.right .row .text {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
}
.right .row p {
  text-align: start;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 80vw;
  }
}

/*# sourceMappingURL=style.css.map */
