@import "variables";
@import "mixins";
@import "media";
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82px;
  padding: 29px 0;
  nav {
    display: flex;
    align-items: center;
    gap: 40px;
    a {
      text-decoration: none;
      font-weight: $color;
      font-size: 14px;
      line-height: 133%;
      color: #3f3b3d;
    }
  }
  .btns {
    @include center(12px);
  }
  .icons {
    @include center(10px);
    width: 69px;
    height: 42px;
    background-color: $section-bkc;
  }
  p {
    color: $white;
    padding: 1px 6px;
    @include center();
    background-color: $first-card;
    border-radius: 100px;
  }
}
footer {
  height: auto;
  width: 100%;
  padding: 96px 0 31px 0;
  background-color: $footer-bck;
  .container {
    @include column(0, center, start);
  }
  h2 {
    @include font-style(400, 29px, 110%, $white);
    text-transform: uppercase;
  }
  h3 {
    @include font-style(400, 24px, 133%, $white);
    margin-bottom: 75px;
    padding-right: 100px;
  }
  .imgLine {
    @include center(31px);
    margin: 32px 0 64px 0;

    .two {
      @include center(31px);
    }
  }
}
.links {
  @include center(145px, start, start);
  width: 100%;
  border-bottom: 1px solid $black;
  padding: 0 0 32px 0;
  .sub {
    border-bottom: 2px solid $white;
  }
  a {
    @include font-style(400, 16px, 133%, $white);
    text-decoration: none;
  }

  .link {
    @include center(145px, center, start);
  }

  .column {
    @include column(5px, center, start);
  }
}
.copyright {
  @include center(0, space-between, center);
  margin: 32px 0 0 0;
  width: 100%;
  p {
    @include font-style(400, 14px, 133%, $white);
    display: flex;
    gap: 20px;
    span {
      color: $secondary;
    }
  }
}
  