$font-family: "Roboto", sans-serif;
$color: #3f3b3d;
$primary: #5d6e67;
$secondary: #f14814;
$white: #ffffff;
$black: #000000;
$card-bck: #e9e9e7;
$first-card: #3f3b3d;
$footer-bck: #3f3b3d;
$sky-blue: #dceae9;
$btn: #dddbda;
$section-bkc: #f8f9fa;
